xml/id.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name = "objetoIoT">
<xs:complexType>
<xs:sequence>
<xs:element name = "parsererror">
<xs:complexType>
<xs:sequence>
<xs:element type = " xs: string" name = "h3"/>
<xs:element  name = "div">
<xs:complexType >
<xs:simpleContent>
<xs:extension base = "xs:string">
<xs:attribute type="xs:string" name="style" use="optional"/>
</xs:extension>
</xs:simpleContent>
</xs:complexType>
</xs:element>
 </xs:sequence>
<xs:attribute type="xs:string" name="style" use="optional"/>
</xs:complexType>
</xs:element>
<xs:element name = "gateway">
<xs:complexType>
<xs:sequence>
<xs:element name = "propiedades">
<xs:complexType>
<xs:sequence>
<xs:element type = " xs: string" name = "nombre"/>
<xs:element type = " xs: string" name = "modelo"/>
<xs:element type = " xs: string" name = "fabricante"/>
 </xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name = "recursos">
<xs:complexType>
<xs:sequence>
<xs:element name = "recursoIoT">
<xs:complexType>
<xs:sequence>
<xs:element type = " xs: string" name = "tipo"/>
<xs:element type = " xs: string" name = "senal"/>
 </xs:sequence>
</xs:complexType>
</xs:element>
 </xs:sequence>
</xs:complexType>
</xs:element>
 </xs:sequence>
</xs:complexType>
</xs:element>
 </xs:sequence>
<xs:attribute type = "xs:string" name = "id"/>
</xs:complexType>
</xs:element>
</xs:schema>